# Dependencies - Ignore all node_modules directories
node_modules/

# Next.js Build Output (in 'front/')
front/.next/
front/out/
front/dist/

# Development/Local Artifacts
front/npm-debug.log
front/yarn-error.log
front/yarn-debug.log
front/.DS_Store
front/.vscode/
back/npm-debug.log
back/yarn-error.log
back/yarn-debug.log
back/.DS_Store
back/.vscode/

# Logs (for both front and back)
*.log
logs/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# Other cache/lock files
*.lock
pnpm-lock.yaml

# Runtime data (e.g. for backend)
back/tmp/
back/temp/
back/uploads/

# TypeScript configuration cache
front/tsconfig.tsbuildinfo
back/tsconfig.tsbuildinfo

# Vercel Deployment files (if you deploy the Next.js app)
.vercel/

# Monorepo Tooling (if you use tools like TurboRepo or Nx later)
.turbo/

# For some portrait stuff
front/public/Pictures/*
front/public/artworks.json
